{% extends "page.html" %}

{% block content %}

{% set movies = programme|filter(movie => movie.shows|filter(show => 
    date(show.showStart|date("d-m-Y")) == date(date) and date(show.showStart|date("d-m-Y H:i")) > date("now"))) %}


{% if movies|length > 0 and date in dates_with_movies %}


<ul class="movies" role="list" aria-label="Filmer på kino nå">


    {% for movie in movies %}

    {% set shows = movie.shows|filter(show => date(show.showStart|date("d-m-Y")) == date(date)) %}
    
    <li class="movie">

        {% set loading = loop.index > 5 ? 'lazy' : 'eager' %}

        <img src="/assets/images/{{ movie.mainVersionId }}.webp" aria-hidden="true" height="225" width="150"
            loading="{{ loading }}" alt="">
        
        <h2>{{ movie.title }}</h2>
       
        {% if shows|length > 0 %}

        
        <ul class="shows" role="list" aria-label="Dagens visninger av {{ movie.title }}">
            {% for show in shows %}
            <li aria-label="Visning {{show.showStart|date("H.i")}} i {{ show.screenName}}">
                <a href="{{ show.ticketSaleUrl }}" aria-label="Kjøp billett (ekstern side)" rel="noreferrer">
                    {{ show.showStart|date("H:i") }}
                </a>
                <p aria-hidden="true"><span>{{ show.screenName }}</span></p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% elseif dates_with_movies|length > 0 %}
<div class="error">
    <p>Ingen filmer på kino nå.</p>
</div>

{% else %}
<div class="error">
    <p>{{ location_name }} har ingen filmer på programmet – som vi vet om, i alle fall!</p>
</div>
{% endif %}

{% endblock %}
