{% extends "page.html" %}

{% block content %}


{% if programme is defined %}
    {% set movies = programme|filter(movie => movie.shows|filter(show => 
        date(show.showStart|date("d-m-Y")) == date(date) and date(show.showStart|date("d-m-Y H:i")) > date("now"))) %}
{% endif %}


{% if movies|length > 0 and date in dates_with_movies %}


<ul class="movies" role="list" aria-label="Filmer på kino nå">


    {% for movie in movies %}

    {% set shows = movie.shows|filter(show => date(show.showStart|date("d-m-Y")) == date(date)) %}
    
    <li class="movie">

        {% set loading = loop.index > 5 ? 'lazy' : 'eager' %}

        <img src="{{ '/data/posters/' ~ movie.mainVersionId }}.webp" aria-hidden="true" height="225" width="150"
            loading="{{ loading }}" alt="">
        
        <h2>{{ movie.title }}</h2>
       
        {% if shows|length > 0 %}

        
        <ul class="shows" role="list" aria-label="Dagens visninger av {{ movie.title }}">
            {% for show in shows %}
            <li aria-label="Visning {{show.showStart|date("H.i")}} i {{ show.screenName}}">
                {% if show.ticketSaleUrl is not empty %}
                <a href="{{ show.ticketSaleUrl }}" aria-label="Kjøp billett (ekstern side)" rel="noreferrer">
                    {{ show.showStart|date("H:i") }}
                </a>
                {% else %}
                {{ show.showStart|date("H:i") }}
                {% endif %}
                <p aria-hidden="true"><span>{{ show.screenName }}</span></p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% else dates_with_movies|length > 0 %}
<div class="error">
    <p>Her var det ingen filmer, gitt.</p>
</div>

{% endif %}

{% endblock %}
