<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ location_name ? "På kino – " ~ location_name : "Kinoprogram – Velg sted" }}</title>
    <link rel="stylesheet" href="/assets/styles.20.css" />
    <link rel="icon" href="/assets/icon.png" />
    <meta
      name="description"
      content="Oversiktlig kinoprogram med lenker til billettkjøp for hundrevis av kinosteder over hele Norge"
    />
  </head>
  <body class="no-js">
    <header role="banner">{% block header %}{% endblock %}</header>

    {% block content %}{% endblock %}
    <script src="/assets/scripts.5.js"></script>
  </body>
</html>
